@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --azul1: #0477BF;
    --azul2: #048ABF;
    --azul3: #03738C;
    --verde1:#038c7f;
    --azul4: #4EA4D9;
    --azul5: #91D7F2;
    --amarillo: #F2C230;
    --melon: #F2B872;
    --rosa: #F27166;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

/* BOTON DE DENUNCIA */
.botonDenunciaPrincipal{
    width: 120px;
    height: 120px;
    background-color: #038C7F;
    /* align-items: center; */
    color: #fff;
    display: flex;
    /* border-radius: top, right, bottom, left; */
    border-radius: 0px 0px 220px 0px;
    cursor: pointer;
    text-decoration: none;
}

.botonDenunciaPrincipal:hover{
    background-color: #03738C;
}

.botonDenunciaPrincipal div{
    margin-top: 40px;
    margin-left: 15px;
}

/* nav */
/* header{
    margin-left: 100px;
}
header nav {
    display:grid;
}
header nav ul {
    list-style-type: none; <*sin viñetas
} */