header a{
    text-decoration: none;
    color: var(--rosa);
}

/* titulo Mis demandas */
.sub-heading-aux{
    color:var(--verde1);
    font-size: 45px;
    padding-top: 35px;
    font-weight: bold;
}

/* section puntos */
.content-puntos{
    display: flex;
    height: 40px;
    float: right;
}
.content-puntos button{
    background-color: var(--verde2);
    font-size: 18px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    color: #fff;
}
.content-puntos button:hover{
    background-color: var(--rosa);
}
.div-puntos{
    font-size: 18px;
    width: 100px;
    font-weight: bold;
    padding-top: 8px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}

.section-table{
    margin-top: 80px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.section-table table tr th{
    text-align: center;
}