@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --azul1: #0477BF;
    --azul2: #048ABF;
    --azul3: #03738C;
    --verde1:#038c7f;
    --azul4: #4EA4D9;
    --azul5: #91D7F2;
    --amarillo: #F2C230;
    --melon: #F2B872;
    --rosa: #F27166;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

/* BOTON DE DENUNCIA */
/* header .botonDenunciaPrincipal{
    color:#fff;
    background: var(--azul1);
    font-size: 1.7rem;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    color:var(--light-color);
    text-decoration: none;
} */

.botonDenunciaPrincipal:hover{
    background-color: #03738C;
}

.botonDenunciaPrincipal div{
    margin-top: 40px;
    margin-left: 15px;
}
/*Header RAMS*/
header{
    background-color: var(--azul4);
    padding: 1rem 5rem;
}

.contenedor-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 13rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.navbar a{
    font-size: 1.8rem;
    color: #ffffff;
    text-decoration: none;
}

/* nav */
/* header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    color:var(--light-color);
    text-decoration: none;
} */

/* header{
    position: fixed;
    top:0; left: 0; right:0;
    background :var(--azul1);
    padding:1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
} */
/* header .navbar a.active{
    color:#fff;
    background: var(--azul1);
} */
/* header .navbar .otroN:hover{
    color: var(--azul2);
} */

/* header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height:4.5rem;
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
} */
/* header .icons{
    background: var(--verde1);
    padding: 0rem 1.5rem;
    border-radius: 15px;
} */
/* header .icons i{
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
} */

/* header .icons #menu-bars{
    display: none;
} */

/* Title */
.sub-heading{
    text-align: center;
    color:var(--azul1);
    font-size: 4rem;
    padding-top: 130px;
    font-weight: bold;
}

/* chat boot */
.cont {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  .cont .redes a,span {
      cursor: pointer;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    width: 160px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 1px 10px rgb(0, 0, 0, 0.4);
    transition: all 500ms ease;
  }
  .cont .redes a, span {
    background:var(--verde1);
  }

  /* MAPA */
  .mapa{
      margin-left: auto;
      margin-right: auto;
  }


  /*USUARIO*/
  .div-user h1, p{
    text-align: center;
  }

  .div-user{
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      align-items: center;
  }

  .user{
      width: 6rem;
  }

  .cnt-user{
      font-size: 1.5rem;
  }

  /*USUARIO SECCION*/
  .espacio{
    margin: 4rem 4rem 4rem 4rem; 
  }

  .espacio h2{
    font-size: 3rem;
  }

  .espacio-2{
   margin-top: 2rem;
   margin-bottom: 8rem; 
  }

  .espacio-2 h3{
    font-size: 2rem;
    margin-top: 2rem;
  }

  .btn{
      background-color: var(--melon);
      padding: 1rem;
      border-radius: 1rem;
      cursor: pointer;
      font-size: 2rem;
  }

  /*tabla*/
  .table th{
      padding: 0 10rem;
      text-align: center;
    font-size: 2rem;
  }

  .table{
      margin: 0 auto;
  }
