*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/* BOTON DE DENUNCIA */
.botonDenunciaPrincipal{
    width: 120px;
    height: 120px;
    background-color: #038C7F;
    /* align-items: center; */
    color: #fff;
    display: flex;
    /* border-radius: top, right, bottom, left; */
    border-radius: 0px 0px 220px 0px;
    cursor: pointer;
    text-decoration: none;
}

.botonDenunciaPrincipal:hover{
    background-color: #03738C;
}

.botonDenunciaPrincipal div{
    margin-top: 40px;
    margin-left: 15px;
}

