:root {
    --azul1: #0477BF;
    --azul2: #048ABF;
    --azul3: #03738C;
    --verde1: #038c7f;
    --azul4: #4EA4D9;
    --azul5: #91D7F2;
    --amarillo: #F2C230;
    --melon: #F2B872;
    --rosa: #F27166;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

h4{
    color: var(--amarillo);
}
.sub-heading{
    color:var(--verde1);
    font-size: 45px;
    padding-top: 35px;
    font-weight: bold;
}

/* section body*/
.section-body{
    margin-top: 111px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

/* section form*/
.section-form{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
.form-group{
    padding-top: 10px;
}